{% extends "layout.html" %}

{% block title %}
Index-page
{% endblock  %}

{% block content %}
    <h1 class="mx-3 text-black mt-5">Are you sure you Want to delete the ppost</h1>

    <form method="post">
        {% csrf_token %}
        <div class="d-flex vh-100">
            <div class="mx-5">
                <button class="btn btn-danger"> Delete</button>
                <a class="btn btn-success text-center" href="{% url "tweet_list" %}">Cancel</a>
            </div>
          </div>
    </form>

{% endblock  %}